<!-- App Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/redevable"
            ><i class="bi bi-person"></i> Redevables</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categorie"
            ><i class="bi bi-justify"></i> Categories</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/terrain"
            ><i class="bi bi-house"></i> Terrains</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taux"
            ><i class="bi bi-house-gear"></i> Taux</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxetnb"
            ><i class="bi bi-bank"></i> Taxes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- App Content -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
